{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Список цветов</h1>
    
    <ol>
        {% for flower in flowers %}
        <li>
            {{ flower.name }} - {{ flower.price }} руб 
            <a href="{{ url_for('del_flower', flower_id=loop.index0) }}">удалить</a>
        </li>
        {% endfor %}
    </ol>
    
    <p><a href="{{ url_for('clear_flowers') }}">Удалить все цветы</a></p>
    
    <hr>
    
    <h3>Добавить цветок:</h3>
    <form action="{{ url_for('add_flower') }}" method="get">
        <input type="text" name="name" placeholder="Название цветка" required>
        <button type="submit">добавить</button>
    </form>
{% endblock %}